* {
  padding: 0;
  margin: 0;
}

body {
  background-color: peachpuff;
  display: grid;
  grid-template-columns: 3fr;
}

#container {
  background-color: white;
}

.square {
  background-color: blue;
  color: white;
  margin: 10px;
}